---
title: {{ project_name }}
subtitle: {{ document_description }}
author:

- {{ current_status_description }}

date: {{ current_issue_long_date }}
keywords: [populate, these, in, future, with, document, metadata]
abstract: |  
    {{ document_name }} [^longnote]

    [^longnote]:
{%- for l in li_current_issue_header_table %}
{{ l }}
{%- endfor %}

description: {{ document_description }}
category: populate, these, in, future, with, document, metadata
subject: populate, these, in, future, with, document, metadata
...


# <span custom-style="mf_white">Document Information</span>

{{ md_page_two }}

\newpage

### <span custom-style="mf_white">TABLE OF CONTENTS</span>

\toc

